* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: rgb(14, 17, 53);
}
.BlogGridContainer {
  background: rebeccapurple;
}
/*Start main Grid*/
.BlogContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 600px 426px 426px 426px;
  grid-gap: 1em;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.BlogGridContainer-1 {
  grid-column: 1/7;
}
.BlogGridContainer-2 {
  grid-column: 1/5;
}
.BlogGridContainer-3 {
  grid-column: 5/7;
}
.BlogGridContainer-4 {
  grid-column: 1/3;
}
.BlogGridContainer-5 {
  grid-column: 3/7;
}
.BlogGridContainer-6 {
  grid-column: 1/5;
}
.BlogGridContainer-7 {
  grid-column: 5/7;
}
.BlogGridContainer-8 {
  grid-column: 1/7;
}
/*end main Grid*/

/*start primary Grid 01*/
.BlogGridContainer-1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 400px 60px;
}
.SliderImage {
  grid-column: 1/11;
  grid-row: 1/2;
}
.SliderImage img {
  grid-column: 1/11;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SliderImageDeatils {
  grid-column: 1/11;
  grid-row: 1/2;
  color: aliceblue;
}
.SliderImageDeatils2 {
  grid-column: 10/11;
  grid-row: 1/2;
  color: aliceblue;
}
.BlogTitleAndSearch {
  display: flex;
  grid-column: 1/11;
  grid-row: 2/3;
  align-items: center;
  padding-left: 20px;
  background-color: black;
}
.BlogTags {
  grid-column: 1/11;
  grid-auto-rows: auto;
  padding-left: 20px;
  background-color: black;
}
/*end primary Grid 01*/
.SliderImageDeatils2 .sliderDate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  height: 70%;
  bottom: 25%;
  right: 10%;
  letter-spacing: 6px;
}
.SliderImageDeatils {
  margin-top: 35px;
  text-align: center;
}
.SliderImageDeatils .welcomeTitle {
  font-size: 30px;
  color: #fff;
  font-family: monospace;
  margin: 0 auto;
  letter-spacing: 0.75em;
}
.SliderImageDeatils .UpperBlog {
  font-size: 100px;
  color: #fff;
  font-family: monospace;
  margin: 0 auto;
  letter-spacing: 0.3em;
}

/* Start Bloag slider Details And Search Body*/

/* end Bloag slider Details And Search Body*/
/* Start Bloag Title And Search Body*/
.BlogGridContainer-1 .BlogTitleAndSearch .BlogTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 67px;
  justify-items: center;
  color: #f5f5f5;
}
.BlogGridContainer-1 .BlogTitleAndSearch .SearchAndMenu {
  flex: 1;
  text-align: right;
  margin-right: 5px;
}
.BlogGridContainer-1 .BlogTitleAndSearch .SearchAndMenu .searchbox {
  padding-left: 5px;
  color: #fff;
  font-size: 16px;
  width: 300px;
  height: 45px;
  right: 80px;
  border: none;
  background: rgba(0, 193, 255, 0.32);
  border-radius: 10px;
}
.BlogGridContainer-1 .BlogTitleAndSearch .fisearchIcon {
  cursor: pointer;
  justify-items: center;
  color: white;
  width: 40px;
  height: 45px;
  margin-right: 20px;
  background: #00c1ff;
  border-radius: 5px;
}
/* end Bloag Title And Search Body*/

/* Start Bloag BlogTags And Sugessions Body*/
.BlogTagsTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: #ffffff;
}
.TagsList {
  display: inline;
}
.TagsList button {
  margin-top: 2px;
  border: none;
  margin-right: 6px;
  font-size: 17px;
  line-height: 22px;
  padding: 9px 20px;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  top: 53%;
  color: #fff;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
/* Style the active class, and buttons on mouse-over */
.active,
.btn:hover {
  background-color: #00c1ff;
  color: white;
}
/* end Bloag BlogTags And Sugessions Body*/

/*start primary Grid 02*/
.BlogGridContainer-2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 25px;
}
.BlogCardImage1 {
  grid-column: 1/9;
  grid-row: 1/9;
}
.BlogCardImage1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.CardDetailsRight {
  grid-column: 8/9;
  grid-row: 1/9;
}
.CardDetailsMiddle {
  grid-column: 1/8;
  grid-row: 2/7;
  padding-left: 20px;
}
.CommentAndLike {
  grid-column: 1/8;
  grid-row: 7/8;
  padding-left: 20px;
}
/*end primary Grid 02*/

/*start primary Grid 02 body*/
.CardDetailsMiddle .TrendsTitle {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-decoration-line: underline;
  font-family: "Inter";
  font-style: normal;
}
.CardDetailsMiddle .CardDetailsMiddleTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 10px;
}
.CardDetailsMiddle .CardDetailsMiddleName {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.CardDetailsMiddle .CardDetailsMiddleDetails {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.CardDetailsRight {
  position: relative;
}
.CommentAndLike {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  bottom: 2px;
}
.CommentAndLike .LikeCount {
  margin-right: 10px;
}

.CardDetailsRight .CardDetailsRightVl {
  border-left: 2px dashed #fff;
  height: 83%;
  margin-left: 0;
  margin-top: 5vh;
}
.CardDetailsRight .CardDetailsRightDate {
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: "Inter";
  font-style: normal;
  right: 25%;
  bottom: 15%;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5em;
  color: #fff;
}
.CardDetailsRight .CardDetailsRightDate1 {
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: "Inter";
  font-style: normal;
  right: 50%;
  bottom: 15%;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5em;
  color: #fff;
}
/*end primary Grid 02 body*/

/*start primary Grid 03*/
.BlogGridContainer-3 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 25px;
}
/*end primary Grid 03*/
/*start primary Grid 04*/
.BlogGridContainer-4 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 25px;
}
/*end primary Grid 04*/
/*start primary Grid 04*/
.BlogGridContainer-5 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 25px;
}
.SliderImageDeatils2 .sliderDate {
  display: none;
}

/*end primary Grid 04*/
/*start primary Grid 05*/
.BlogGridContainer-6 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 25px;
}
/*end primary Grid 05*/
/*start primary Grid 06*/
.BlogGridContainer-7 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 25px;
}
/*end primary Grid 06*/
/*start primary Grid 07*/
.logGridContainerArrow {
  background-color: black;
  display: flex;
  justify-content: center;
  align-self: center;
  bottom: 3%;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  vertical-align: middle;
}
.logGridContainerArrow .LeftArrow {
  margin-top: 5px;
  color: #565656;
}
.logGridContainerArrow .RightArrow {
  margin-top: 5px;
  color: #fff;
}
.logGridContainerArrow .ArroNum1 {
  margin-top: 1px;
  font-size: 28px;
  color: #fff;
}
.logGridContainerArrow .ArroNum2 {
  margin-top: 8px;
  font-size: 16px;
  color: #565656;
}

/*end primary Grid 07*/

/* start responsive*/
/*mobile  responsive*/
@media screen and (max-width: 750px) {
  /*blog page main image details size change*/
  .BlogGridContainer-1 {
    grid-template-rows: 200px 150px;
  }

  /*blog cards margin fix*/
  .BlogContainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .SliderImageDeatils {
    margin-top: 3px;
  }
  .SliderImageDeatils .welcomeTitle {
    font-size: 30px;
    letter-spacing: 0.2em;
  }
  .SliderImageDeatils .UpperBlog {
    font-size: 50px;
  }
  /*blog page main Titile change*/
  .BlogTitleAndSearch {
    display: inline;
  }

  .BlogGridContainer-1 .BlogTitleAndSearch .BlogTitle {
    font-size: 30px;
  }
  .BlogGridContainer-1 .BlogTitleAndSearch .SearchAndMenu {
    position: absolute;
  }
  .BlogGridContainer-1 .BlogTitleAndSearch .SearchAndMenu .searchbox {
    width: 68vw;
  }
  .BlogGridContainer-1 .BlogTitleAndSearch .fisearchIcon {
    display: flex;
    position: absolute;
    right: 5px;
    width: 40px;
    height: 45px;
  }

  /*blog card grid size fix*/
  .BlogGridContainer-2 {
    grid-column: 1/7;
  }
  .BlogGridContainer-3 {
    grid-column: 1/7;
  }
  .BlogGridContainer-4 {
    grid-column: 1/7;
  }
  .BlogGridContainer-5 {
    grid-column: 1/7;
  }
  .BlogGridContainer-6 {
    grid-column: 1/7;
  }
  .BlogGridContainer-7 {
    grid-column: 1/7;
  }
  .BlogGridContainer-8 {
    grid-column: 1/7;
  }
  /* blog card line display none*/
  .CardDetailsRight .CardDetailsRightVl {
    display: none;
  }
  /*blog card date change direction*/
}
